.upload{
  background:pink;
  margin: 5 auto;
}

.display{
   border: medium dashed #7CFC00;
   height: 277px;
   width: 277px;
   margin: 0 auto;
 }

.response{
  color:red;
}

h5{
color:red;
font-size:0.7rem;
}
